extends ./layout/index.pug

block contenido
    main.container.mt-5
        div.row
            div.col-md-5
                img(src="/img/nosotros.jpg", alt="nosotros .jpg",class="img-fluid")
            div.col-md-7 
                h1 Nosotros
                blockquote  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt odio placeat consequatur numquam aliquam veniam aliquid iste exercitationem ducimus. Libero hic tempora reiciendis quae, numquam molestias fuga expedita est incidunt.
                |Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni corporis blanditiis facilis veritatis impedit, libero voluptas iusto officia facere. Animi magnam eum architecto ad tempore reprehenderit doloribus ducimus expedita quod?

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis voluptates optio, quo voluptate accusantium voluptatum sequi debitis sapiente! Eveniet vitae quo magni enim veniam, repellendus numquam minus. Distinctio, possimus optio.

                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. A optio, beatae debitis nostrum id voluptas, dolorum tempore cum, dolor iure veniam quibusdam esse officia? Facere ipsa reprehenderit quae fugit laudantium.

    div.listado-iconos
        div.container.mt-5.py-5.text-center
            div.row

                div.col-md-4
                    img(src="/img/icono_seguridad.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem necessitatibus officiis distinctio recusandae accusamus odit expedita, asperiores incidunt omnis eaque consequuntur molestias deleniti tempora, sapiente, iure libero ratione quasi quod?
                div.col-md-4
                    img(src="/img/icono_destinos.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem necessitatibus officiis distinctio recusandae accusamus odit expedita, asperiores incidunt omnis eaque consequuntur molestias deleniti tempora, sapiente, iure libero ratione quasi quod?
                div.col-md-4
                    img(src="/img/icono_precios.svg", alt="icono seguridad",class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem necessitatibus officiis distinctio recusandae accusamus odit expedita, asperiores incidunt omnis eaque consequuntur molestias deleniti tempora, sapiente, iure libero ratione quasi quod?   

        
    